<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:mvc="http://www.springframework.org/schema/mvc"
   xmlns:tx="http://www.springframework.org/schema/tx"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
                       http://www.springframework.org/schema/beans/spring-beans.xsd
                       http://www.springframework.org/schema/context
                       http://www.springframework.org/schema/context/spring-context.xsd
                       http://www.springframework.org/schema/mvc
                       http://www.springframework.org/schema/mvc/spring-mvc.xsd
                       http://www.springframework.org/schema/tx
                       http://www.springframework.org/schema/tx/spring-tx.xsd" >

   <context:component-scan base-package="com.revature" />

   <mvc:annotation-driven />
   <tx:annotation-driven />

   <!-- Datasource bean -->
   <bean id="myDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
       <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>

       <!-- migrating to mysql from oracle -->
       <!-- 
       		<property name="url" value="jdbc:oracle:thin:@java-spark.c88cfh7d8myl.us-east-2.rds.amazonaws.com:1521:ORCL"></property>
       -->
       <property name="url" value="jdbc:oracle:thin:@java-spark.c88cfh7d8myl.us-east-2.rds.amazonaws.com:1521:ORCL"></property>

       <property name="username" value="admin"/>
       <property name="password" value="JavaSparkDB"/>
   </bean>

   <bean id="mySessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
       <property name="dataSource" ref="myDataSource"/>
       <property name="packagesToScan" value="com.revature"/>
       <property name="hibernateProperties">
           <props>
           	   <!-- changed dialect from oracle to mysql -->
               <!-- <prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop> -->
               <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
               <prop key="hibernate.show_sql">true</prop>
               <prop key="hibernate.format_sql">true</prop>               

           </props>

       </property>
   </bean>

   <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
       <property name="sessionFactory" ref="mySessionFactory"></property>
   </bean>
   
   

</beans>